body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    background-color: #fff;
    background-repeat: no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.navigation {
    margin-left: auto;
}
.navigation .me-3 {
    margin: 0 5px;
}
.navigation .me-3.active {
    color: cornflowerblue !important;
    text-decoration: underline !important;
}